.code-hint {
  display: inline;
  position: relative;
}

.code-hint__button {
  background-color: $color-green;
  border: 0;
  border-radius: 50%;
  color: $color-white;
  display: inline-block;
  font: inherit;
  font-family: $family-rounded;
  font-weight: bold;
  height: 20px;
  line-height: 1;
  margin: 0;
  padding: 0;
  position: relative;
  top: -.1em;
  vertical-align: bottom;
  width: 20px;
}

.code-hint__pop-up {
  background-color: $color-light-gray;
  border-radius: p(.5);
  box-shadow: 0 .6em 1em transparentize($color-dark-gray, .9);
  font-family: $family-sans;
  font-size: .8em;
  left: 2em;
  padding: p(.5);
  position: absolute;
  top: p(.5) * -1;
  transition: .2s opacity, .2s transform;
  width: 20em;
  z-index: 100;

  &:not(.shown) {
    opacity: 0;
    pointer-events: none;
    transform: translateY(.3em);
  }

  a {
    color: $color-green;
    text-decoration: none;
  }

  p {
    margin: 0;

    + p {
      margin-top: p(1);
    }
  }
}
