$family-sans: 'Helvetica Neue', Helvetica, sans-serif;
$family-rounded: 'Gotham Rounded', 'Montserrat', 'Arial Rounded', 'Helvetica Neue', Helvetica, sans-serif;
$family-mono: Menlo, Monaco, Courier, monospace;

body {
  font-family: $family-sans;
}
