body {
  background-color: #F1F1F1;
  -webkit-font-smoothing: antialiased; }

html,
body,
div,
form,
fieldset,
legend,
label {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th,
td {
  text-align: left;
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6,
th,
td,
caption {
  font-weight: normal; }

img {
  border: 0; }

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif; }

.grid__container {
  box-sizing: border-box;
  margin: auto;
  max-width: 1200px;
  padding: 0 1rem; }

.header {
  background-color: #38C681;
  padding: 0.2rem 0;
  position: relative;
  z-index: 10; }

.header__container {
  align-items: center;
  display: flex; }

.header__logo {
  margin: 1rem 0;
  padding-bottom: .1em; }

.header__space {
  flex: 1; }

.header__github {
  display: flex; }
  .header__github__bubble {
    background: #FEFEFE;
    border-radius: 0.3rem;
    color: #38C681;
    font-size: .9em;
    font-weight: bold;
    letter-spacing: .05em;
    line-height: 1;
    margin: 6px 1rem;
    padding: 0.3rem 0.4rem;
    position: relative;
    transition: .4s opacity; }
    .header__github__bubble:not(.shown) {
      opacity: 0; }
    .header__github__bubble::after {
      background-color: #FEFEFE;
      content: '';
      display: block;
      height: 10px;
      position: absolute;
      right: -4px;
      top: 7px;
      transform: rotate(45deg);
      width: 10px; }

.menu {
  display: flex;
  font-family: "Gotham Rounded", "Montserrat", "Arial Rounded", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  list-style: none;
  margin: 0;
  margin-left: 1rem;
  padding: 0; }

.menu__item {
  color: #FEFEFE;
  display: inline-block;
  padding: 1rem 1rem 0.8rem;
  text-decoration: none; }

.content-area {
  background-color: #FEFEFE;
  padding: 1rem; }

.front-page {
  align-items: center;
  background-color: #38C681;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 0; }
  .front-page button {
    outline: 0; }
    .front-page button:focus {
      box-shadow: inset 0 0 1px #164f33; }

.front-page__copy {
  font-family: "Gotham Rounded", "Montserrat", "Arial Rounded", "Helvetica Neue", Helvetica, sans-serif;
  max-width: 40em;
  text-align: center; }
  .front-page__copy h1 {
    color: #FEFEFE;
    font-size: 3em;
    font-weight: bold;
    line-height: 1.1;
    margin: 0; }
  .front-page__copy p {
    color: #22764d;
    font-size: 1.4em;
    font-weight: bold;
    margin: 0.6rem 0 1.3rem; }

.front-page__code {
  background-color: #F1F1F1;
  border-radius: 1rem;
  color: #585858;
  font-family: Menlo, Monaco, Courier, monospace;
  font-size: .9em;
  font-weight: 500;
  letter-spacing: .02em;
  line-height: 1.5;
  min-width: 28em;
  padding: 1rem; }
  .front-page__code__punc {
    color: #a5a5a5; }
  .front-page__code__keyword {
    color: #0071FF; }
  .front-page__code__string {
    color: #38C681; }

.front-page__get-started-button {
  background: #32b274;
  border: 0;
  border-radius: 1.8rem;
  color: #FEFEFE;
  font-family: "Gotham Rounded", "Montserrat", "Arial Rounded", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.3em;
  font-weight: 500;
  letter-spacing: .02em;
  line-height: 1;
  margin-top: 1.7rem;
  padding: 1rem;
  text-decoration: none; }

.on-add-middleware {
  display: none; }
  .with-middleware .on-add-middleware {
    display: block; }

.on-add-routes {
  display: none; }
  .with-routes .on-add-routes {
    display: block; }

.with-middleware .on-no-middleware {
  display: none; }

.with-routes .on-no-routes {
  display: none; }

.code-hint {
  display: inline;
  position: relative; }

.code-hint__button {
  background-color: #38C681;
  border: 0;
  border-radius: 50%;
  color: #FEFEFE;
  display: inline-block;
  font: inherit;
  font-family: "Gotham Rounded", "Montserrat", "Arial Rounded", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  height: 20px;
  line-height: 1;
  margin: 0;
  padding: 0;
  position: relative;
  top: -.1em;
  vertical-align: bottom;
  width: 20px; }

.code-hint__pop-up {
  background-color: #F7F7F7;
  border-radius: 0.5rem;
  box-shadow: 0 0.6em 1em rgba(88, 88, 88, 0.1);
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: .8em;
  left: 2em;
  padding: 0.5rem;
  position: absolute;
  top: -0.5rem;
  transition: .2s opacity, .2s transform;
  width: 20em;
  z-index: 100; }
  .code-hint__pop-up:not(.shown) {
    opacity: 0;
    pointer-events: none;
    transform: translateY(0.3em); }
  .code-hint__pop-up a {
    color: #38C681;
    text-decoration: none; }
  .code-hint__pop-up p {
    margin: 0; }
    .code-hint__pop-up p + p {
      margin-top: 1rem; }
